/* Applicatin CSS */
body {
  
  /* Remove margins and padding around content */
  margin: 0;
  padding: 0;
  /* Fix background during scrolling */
  background-attachment: fixed;
  /* Use scalable background image (cross borwser) */
  background-image: url("../images/storefront.jpg");
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #003A6C;
}



.gradBlue {
  /* Gradient for NavBar */
  background-image: -webkit-linear-gradient(top,teal, #28334AFF);
  background-image: -moz-linear-gradient(top,teal, #28334AFF);
  background-image: -ms-linear-gradient(top, teal, #28334AFF);
  background-image: -o-linear-gradient(top, teal, #28334AFF);
  background-image: linear-gradient(top, teal, #28334AFF);
} 

.imgRnd10 {
  /* Rounded image corners */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.imageShadow {
  /* Add drop shadow */
  -webkit-box-shadow: 2px 2px 3px 2px gray;
  -moz-box-shadow: 2px 2px 3px 2px gray;
  box-shadow: 2px 2px 3px 2px gray;
}

.divider {
  background-color: rgb(77, 118, 153);
  height: 5px;
  width: 95%;
  margin-left: 10px;
  
}

/* Header ............................................... */
.brandName {
  color: rgb(216, 215, 219);
}

.header a {
  font-size: 24px;
}

ul {
  list-style-type: none;
  list-style-type:none;
}



.brandLogo {
  width: 250px;
}

/* Container ........................................... */
.container {
  background-color: #a09c90;
  /* Transparent background */
  opacity: 0.9;
  margin-top: 20px;
  margin-bottom: 20px;
  /* Set min height to fill larger screens */
  min-height: 800px;
}

.inputErrors {
  color: red;
}

/* Checkbox styles */
.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"]+.btn-group>label span {
  width: 10px;
}

.form-group input[type="checkbox"]+.btn-group>label span:first-child {
  display: none;
}

.form-group input[type="checkbox"]+.btn-group>label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked+.btn-group>label span:first-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked+.btn-group>label span:last-child {
  display: none;
}

#collapsibleNavbar{
  color: black;
}
.navbar{
  color: black;
}


2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;

}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}



.card__image img {
  width: 25%;

}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 30%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}




.form-control label, {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  outline-color: #00695c;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.product{

  background-color:teal;
  color:#ecd5a7;

  font-weight: bold;
font-size: 1.6rem;
padding: 1%;
margin-top: 1rem;
margin-bottom: 1rem;

}

.nav-item{
  width: 200px;
  text-align: center;
}

.add{
  font-size:1.6;
  font-weight: bold;
}

.container{
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  
}

.card{
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  
}


.fa-shopping-cart {
  border: 0px solid #00695c;
  color: #00695c; 
  border-radius: 0;
}

.fa-shopping-cart:hover
 {
  background-color: #00695c;
  color: white;
  border-radius: 0;

}








